html {
  background: #191C27;
  background: linear-gradient(180deg, rgba(25, 28, 39, 1) 33%, rgba(20, 50, 66, 1) 73%, rgba(19, 46, 62, 1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}




body {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0rem;
  line-height: 1.5;
  font-size: calc(15px + 0.390625vw);
  color: palevioletred;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.1rem;
  margin: 0;
}



h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
}
h2 {
  margin: 1 rem 0;
  font-size: 1.2rem;
}









/* nav styles */

.menu {
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: palevioletred;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {

  .nav-links,
  .svg-menu {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}




/* set correct box model */
.right-sidebar-floated-blocks * {
  box-sizing: border-box;
}

/* floated container */
.right-sidebar-floated-blocks {
  overflow: hidden;
}

/* stacked columns on mobile */
.right-sidebar-floated-blocks .menu {
  padding: 1rem;
 background: #0f0f0f;
 margin: 1rem;
  opacity: .7;
  border-radius: 20px;
}

.right-sidebar-floated-blocks .main-content {
  padding: 1rem;
  background: #0f0f0f;
  opacity: .7;
  border-radius: 20px;
}

.right-sidebar-floated-blocks .right-sidebar {
  padding: 1rem;
}

.right-sidebar-floated-blocks .footer {
  padding: 1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .right-sidebar-floated-blocks .main-wrap {
    float: left;
    width: 100%;
  }

  .right-sidebar-floated-blocks .right-wrap {
    position: relative;
    right: calc(100%/3);
    float: left;
    width: 100%;
  }

  .right-sidebar-floated-blocks .main-content {
    width: calc(98%/3*2);
    position: relative;
    top: 1em;
    left: calc(102%/3);
    background: none;
    float: left;
    background: #0f0f0f;
    opacity: .7;
    border-radius: 20px;
  }

  .right-sidebar-floated-blocks .right-sidebar {
    width: calc(98%/3);
    position: relative;
    top: 1em;
    left: calc(98%/3);
    float: right;
    background: #0f0f0f;
    opacity: .7;
    border-radius: 20px;
  }

  .right-sidebar-floated-blocks .footer {
    clear: both;
  }
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}