---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>sunless city</title>
  </head>
  <body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
    <h1>about me</h1>
    <p>hi, i'm miri, adhd beast and fandom seltzer auntie.  i'm back at making websites after a decade-long break, which pretty much feels like starting from scratch again. fun!</p>
  </body>
</html>