---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Social platform="github" username="celesticidal" />
  <Social platform="tumblr" username="celesticidal" />
      <p><a href="https://bsky.app/profile/celestiphilia.bsky.social"><img src="/src/images/icons/bluesky.svg" width="30" height="30"></a>
  <a href="https://archiveofourown.org/users/miriya/"><img src="/src/images/icons/archiveofourown.svg" width="30" height="30"></a></p>
</footer>