---
import Social from './Social.astro';
---
<center>
<footer>
  <p>part of the electricangels network. love since 2001, in one form or another.</p>
  <Social platform="github" username="celesticidal" />
  <Social platform="tumblr" username="celesticidal" />
      <p><a href="https://bsky.app/profile/celestiphilia.bsky.social"><img src="/src/assets/icons/bluesky.svg" width="30" height="30"></a>
  <a href="https://archiveofourown.org/users/miriya/"><img src="/src/assets/icons/archiveofourown.svg" width="30" height="30"></a></p></center>
</footer>