---

---
<div id="main-menu" class="nav-links">
<button aria-expanded="false" aria-controls="main-menu" class="menu">
  <img src="/src/assets/icons/dotmenu.svg" class="svg-menu">
</button>

    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>
<style>.svg-menu {
    /* Place the icon on the text baseline. */
    position: relative;
    top: .125em;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size. */
    height: 1em;
    width: 1em;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;

    /*
     * If the icon is used on a link, which has a color transition,
     * we can also transition the fill.
    */
   transition: fill .3s;
}</style>