---

---

<style>
  body {
    font-family: sans-serif;
    width: 500px;
    margin: 50px auto;
  }
  a {
    text-decoration: none;
  }
</style>
<!--

Generate embed code on: https://literal.club/pages/widget

If you need even more control, check out our API: https://literal.club/pages/api

–––––––––––––

"handle":
Any handle from a public user profile.

"status":
- DROPPED
- FINISHED
- IS_READING
- NONE
- WANTS_TO_READ

-->

<p>Latest Reads:</p>

<div id="literal-widget" handle="celesticidal" status="FINISHED" layout="list">
</div>
<script src="https://literal.club/js/widget.js"></script>
